#gallery {
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin: 15px;
}

.image img {
    width: 300px !important;
    height: auto !important;
}