@media screen and (max-width:9999px) {
	#gallery {
		margin: 1em auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.card {
		margin: 15px;
		max-width: 400px;
	}

	img {
		max-width: 300px !important;
		height: auto !important;
		object-fit: cover !important;
	}
}
